spring:
  devtools:
    restart:
      exclude: static/**, public/**
  config:
    import: optional:file:.env[.properties]
  datasource:
    url: jdbc:mysql://${DATABASE_HOST}?useSSL=false&serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: ${DATABASE_USER}
    password: ${DATABASE_PASSWORD}
  jpa:
#    hibernate:
#      ddl-auto: create
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        default_batch_fetch_size: 10
        highlight_sql: true
#    defer-datasource-initialization: true
  sql:
    init:
      mode: never
  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}
      password: ${REDIS_PASSWORD}
jwt:
  secret-key: self_study_project.doubles_application_2024.secret_key
  token:
    # 30 min
    access-expired-time-ms: 1800000
    # 2 week
    refresh-expired-time-ms: 1209600000
logging:
  level:
    org.springframework.web.socket: DEBUG
    org.springframework.messaging: DEBUG
    org.hibernate.sql: DEBUG
    org.hibernate.orm.jdbc.bind: TRACE